exe/webui/schemas/scorm2004/imsssp_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.imsglobal.org/xsd/imsssp"
	 xmlns:imsssp = "http://www.imsglobal.org/xsd/imsssp"
	 elementFormDefault = "qualified">
	<element name = "bucket" type = "imsssp:bucketType"/>
	<complexType name = "bucketType">
		<sequence>
			<element ref = "imsssp:size"/>
			<any namespace = "##other" processContents = "strict" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
		<attribute name = "bucketID" use = "required" type = "anyURI"/>
		<attribute name = "bucketType" type = "anyURI"/>
		<attribute name = "persistence" default = "learner">
			<simpleType>
				<restriction base = "token">
					<enumeration value = "session"/>
					<enumeration value = "course"/>
					<enumeration value = "learner"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<element name = "size" type = "imsssp:sizeType"/>
	<complexType name = "sizeType">
		<attribute name = "minimum" type = "nonNegativeInteger"/>
		<attribute name = "requested" use = "required" type = "nonNegativeInteger"/>
		<attribute name = "reducible" default = "false" type = "boolean"/>
	</complexType>
</schema>